name: Build Atmosphere

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install DevKitPro
      uses: devkitPro/install-devkitpro-action@v2
      with:
        devkitA64: true

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake python3 python3-pip p7zip-full zip

    - name: Build Release
      run: |
        make nx_release
        make dist-no-debug
        
    - name: Upload Release Build
      uses: actions/upload-artifact@v4
      with:
        name: atmosphere-release
        path: out/atmosphere-*.zip
